<!-- views/partials/headerU.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
              <li><a href="/produced">Close day</a></li>
              <li><a href="/plquotas">Production Lines Quota</a></li>
              <li><a href="/history">Production History</a></li>
              <li><a href="/profile">My Profile</a></li>
           </ul>      
    </div>
</nav>